{% extends 'base.html' %}

{% block head %} 

{% endblock %} 

{% block body %} 
<div class="window"> 
    <h1>C\<3\<3</h1>
    <p>{{result[0][0]=}}<br>{{bruh=}}</p>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        <tr>
    <table>
</div>
{% endblock %} 
