<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="window">
        <div class="content">
            <span class="function">refactor()</span> your<br>
                <span class="professionalDevelopment">professionalDevelopment</span> with
            
                <div class="title">
                    <span>STACK</span>
                    <span class="collab">COLLAB</span>
                </div>
                
            <a href="{{ url_for('linkedin.login') }}" id="linkedInButton" class="btn btn-primary button">Login with LinkedIn</a>

        </div>
        <div class="footer">
            <p>
                < Developed in 2023 for BeachHacks 7.0 />
            </p>
        </div>
    </div>
</body>
</html>