<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="window">
        <form action="/profile" method="POST">
            <input type="text" name="email" maxlength="120" placeholder="{{profile.email}}">
            <input type="text" name="fname" maxlength="80" placeholder="{{profile.fname}}">
            <input type="number" name="age" placeholder="{{profile.age}}">
            <input type="textarea" name="bio" maxlength="240" placeholder="{{profile.bio}}">
            <input type="text" name="github" maxlength="80" placeholder="{{profile.github}}">
            <input type="submit" value="Save Changes">
        </form>

    <div class="skills">
        {% for tag in tags %}
            <div class="tag" data-selected="true">
            <span>{{tag}}</span>
            </div>
        {% endfor %}
    </div>
              
    <div id="nav" class="flex-row">
        <div id="matches">
            <a href="{{ url_for('matches') }}">🤝</a>
        </div>
        <div id="find">
            <a href="{{ url_for('swipe') }}">✅</a>
        </div>
        <div id="profile">
            <a href="{{ url_for('profile') }}">😄</a>
            
        </div>
    </div>
    
    {% endblock %}
</body>

</html>
