<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swipe</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/swipe.css">
    {% endblock %} 
</head>

<body>
    {% block body %} 
    <div class="window">
        <form action="/" method="POST">
            <input type="text" name="email" placeholder="{{profile.email}}">
            <input type="text" name="fname" placeholder="{{profile.fname}}">
            <input type="number" name="age" placeholder="{{profile.age}}">
            <input type="text" name="bio" placeholder="{{profile.bio}}">
            <input type="text" name="github" placeholder="{{profile.github}}">
            <input type="submit" value="Save Changes">
        <div id="nav" class="flex">
            <div id="matches">
                <span>^-^</span>
            </div>
            <div id="find">

                <span>
                    owo
                </span>
            </div>
            <div id="profile">
                <span>o{</span>
            </div>
        </div>
    </div>
{% endblock %} 
</body>

</html>