@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --p-size: 2vmin;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: white;
    color: white;
    font-size: 100%;
}

* {
    margin: 0;
}

.window {
    height: 100vh;
    background-color: #20202D;
}

#nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

#nav div {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: calc(100%/3);
    text-align: center;
    justify-content: center;
    padding-top: 3vh;
}

#nav div a {
    text-decoration: none;
    background-color: #2b2b3b;
    color: #c28e57;
    width: 100%;
    height: 100%;
    font-size: 3em;
}

#nav div a:hover {
    background-color: #FFB86C;
    color: #20202D;
}

.matches a {
    border-top-left-radius: 1em;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;    
}



.function {
    color: #FFB86C;
}

