.buttons div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 1.2em;
    border: 1px solid #FFB86C;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

#deny:hover {
    background-color: rgba(255, 100, 100, 0.1)
}

#approve:hover {
    background-color: rgba(100, 255, 100, 0.1);
}

.buttons {
    padding-top: 10%;
    justify-content: space-around;
}

.profile { 
    margin-left: 5%;
    width: 90%;
    height: 65%;
    border-radius: 0 0 1.2em 1.2em;
    background-image: linear-gradient(to bottom, #20202D -10%, #2e4977);
}

.info div {
    padding: 1em;
}

.info .name {
    padding-bottom: 0.5em;
}

.info .age {
    padding-top: 0;
}

.tags {
    margin-top: auto;
}

.profile_picture {
    padding: 1em;
    margin-left: auto;
}

.profile_picture img {
    width: 6em;
    border-radius: 100%;
}