button {
    display: flex;
    justify-content: space-between;
    border-radius: 1.2em;
    border: 1px solid #FFB86C;
    background-color: rgba(0, 0, 0, 0);
    width: 4vw;
    color: white;
    width: fit-content;
    padding: 1em;
    cursor: pointer;
}

.deny:hover {
    background-color: rgba(255, 100, 100, 0.1)
}

.approve:hover {
    background-color: rgba(100, 255, 100, 0.1);
}

.buttons .buttons_parent {
    display: flex;
    flex-direction: row;
    padding-top: 7vh;
    justify-content: space-around;
}

.profile { 
    margin-left: 5vw;
    width: 90vw;
    height: 70vh;
    border-radius: 0 0 1.2em 1.2em;
    background-image: linear-gradient(to bottom, #D0C9FD, #1F07071d);
}

.info {
    height: 100%;
}

.info div {
    padding: 1em;
    text-shadow: 1px 1px 2px #000000;
}

.profile_header {
    background-color: rgba(0, 0, 0, 0.1);
}

.name {
    padding-left: 1em;
    width: calc(100% - 8em);
    margin-top: 3.5em;
}

.tags {
    margin-top: auto;
}

.tags .tag {
    border-radius: 1em;
    padding: 0.75em;
    border: 1px solid #E9E010;
    margin: 0.5em;
    overflow: wrap;
    background-color: rgba(55, 54, 91, 0.65);
}

.tags .tag span {
    color: #E9E010;
}

.profile_picture {
    padding: 1em;
    margin-left: auto;
}

.profile_picture img {
    width: 5em;
    border-radius: 100%;
}